<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <h2>Contact Us</h2> <br/>
            <table class="data-table">
                <tr>
                    <th rowspan="2" class="image-cell"><img src="images/mandla.png" alt="Mandla"></th>
                    <th>
                        <h3>Kitchen Sponsor, Organizer, Marketer</h3>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="icon-text">
                            <fa-icon [icon]="faManager" class="icon"></fa-icon>
                            <h3>Mandla Mlotshwa</h3>
                        </div>
                        <div class="icon-text">
                            <fa-icon [icon]="faLocation" class="icon"></fa-icon>
                            <p>32 Telford Avenue</p>
                        </div>
                        <p class="data near">Athlone</p>
                        <p class="data">Cape Town</p>
                        <p class="data">7764</p>
                        <p class="data">South Africa</p>
                        <div class="icon-text">
                            <fa-icon [icon]="faPhone" class="icon"></fa-icon>
                            <p>+27 81 703 6945</p>
                        </div>
                        <div class="icon-text">
                            <fa-icon [icon]="faWhatsapp" class="icon-whatsapp"></fa-icon>
                            <p>+27 81 703 6945</p>
                        </div>
                        <div class="icon-text">
                            <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
                           <a href="mailto: mmlotshwa&#64;gmail.com"><p>mmlotshwa&#64;gmail.com</p></a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th rowspan="2" class="image-cell"><img src="images/sanee.png" alt="Sanee"></th>
                    <th>
                        <h3>Kitchen Chef, Menu Designer, Purchaser, Consultant</h3>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="icon-text">
                            <fa-icon [icon]="faManager" class="icon"></fa-icon>
                            <h3>Sanee Mlotshwa</h3>
                        </div>
                        <div class="icon-text">
                            <fa-icon [icon]="faLocation" class="icon"></fa-icon>
                            <p>32 Telford Avenue</p>
                        </div>
                        <p class="data near">Athlone</p>
                        <p class="data">Cape Town</p>
                        <p class="data">7764</p>
                        <p class="data">South Africa</p>
                        <div class="icon-text">
                            <fa-icon [icon]="faPhone" class="icon"></fa-icon>
                            <p>+27 81 705 1379</p>
                        </div>
                        <div class="icon-text">
                            <fa-icon [icon]="faWhatsapp" class="icon-whatsapp"></fa-icon>
                            <p>+27 81 705 1379</p>
                        </div>
                        <div class="icon-text">
                            <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
                            <a href="mailto: sanemlotshwa47&#64;gmail.com"><p>sanemlotshwa47&#64;gmail.com</p></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>