.sidebar {
    background-color:  transparent;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    text-decoration: none;
    color: #f4f4f4;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
    background-color:rgba(0, 0, 255, 0.50);
  }

  .menu-icon {
    padding: 0px 5px 0px 5px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      order: -1;
    }
  }
  